---
import "../global.css"
import "@fontsource-variable/dm-sans"
import logoType from "../../public/logotype.svg?raw"
import logo from "../../public/logo.svg?raw"
import IconButton from "../components/IconButton.astro"
import StarBackground from "../components/StarBackground.astro"
import { ViewTransitions } from "astro:transitions"

import {
	siDiscord,
	siX,
	siBluesky,
	siTiktok,
	siYoutube,
	siGithub,
	siRoblox,
	siBuymeacoffee,
} from "simple-icons"

export interface Props {
	title: string
	description: string
	image?: string
	prose?: boolean
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description, image = "/logo.png", prose } = Astro.props

const w = prose ? "max-w-prose" : "max-w-content"
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Global Metadata -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Canonical URL -->
		<link rel="canonical" href={canonicalURL} />

		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#7b63d9" />
		<meta name="msapplication-TileColor" content="#603cba" />
		<meta name="theme-color" content="#7B63D9" />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, Astro.url)} />

		<meta property="twitter:card" content="summary" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={new URL(image, Astro.url)} />

		<slot name="head" />

		<ViewTransitions />
	</head>

	<body class="flex min-h-screen flex-col bg-body-bg pt-52 text-body-text">
		<StarBackground />

		<header
			class="fixed top-0 z-10 flex h-14 w-full bg-body-bg/40 px-12 py-2 backdrop-blur-lg"
		>
			<div class=`mx-auto flex h-full ${w} w-full`>
				<a href="/" class="[&_svg]:h-full" aria-label="Main page">
					<div class="contents sm:hidden">
						<Fragment set:html={logo} />
					</div>
					<div class="hidden sm:contents">
						<Fragment set:html={logoType} />
					</div>
				</a>

				<div class="ml-auto flex h-full items-center">
					<a href="/blog" class="text-body-text no-underline"> Blog </a>
				</div>
			</div>
		</header>

		<slot />

		<footer
			class="mt-20 flex w-full grow justify-center border-t border-violet-400/25 bg-body-bg px-12"
		>
			<div class=`flex ${w} w-full items-center py-16`>
				<div class="flex flex-col gap-2">
					<div class="flex w-full flex-wrap gap-2">
						<IconButton
							svg='<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>'
							noFill
							title="Email"
							link="mailto:contact@daimond113.com"
							class="w-10 p-2"
						/>
						<IconButton
							{...siDiscord}
							link="https://discord.com/users/1232371891990302820"
							class="w-10 p-2"
						/>
						<IconButton
							{...siX}
							link="https://twitter.com/dev_daimond113"
							class="w-10 p-2"
						/>
						<IconButton
							{...siBluesky}
							link="https://bsky.app/profile/daimond113.com"
							class="w-10 p-2"
						/>
						<IconButton
							{...siTiktok}
							link="https://tiktok.com/@official.daimond113"
							class="w-10 p-2"
						/>
						<IconButton
							{...siYoutube}
							link="https://youtube.com/@daimond113"
							class="w-10 p-2"
						/>
						<IconButton
							{...siGithub}
							link="https://github.com/daimond113"
							class="w-10 p-2"
						/>
						<IconButton
							{...siRoblox}
							link="https://www.roblox.com/users/386098925/profile"
							class="w-10 p-2"
						/>
						<IconButton
							{...siBuymeacoffee}
							link="https://buymeacoff.ee/daimond113"
							class="w-10 p-2"
						/>
					</div>
					<div>
						© daimond113 {new Date().getFullYear()}
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
